<div>
  <mat-form-field floatLabel="always">
    <mat-label>Prompt</mat-label>
    <input matInput placeholder="Prompt" required="true" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>negative prompt</mat-label>
    <input matInput placeholder="negative prompt" />
  </mat-form-field>
</div>
